@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: 186 199 255;
      --color-primary_light: 224 230 255;
      --color-secondary: 55 117 153;
      --color-third: 8 91 139;
      --color-red: 206 32 41;
      /* ... */
    }
  }
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
