@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: 186 199 255;
      --color-primary_light: 224 230 255;
      --color-secondary: 55 117 153;
      --color-third: 8 91 139;
      --color-red: 206 32 41;
      --color-white: 255 255 255;
      /* ... */
    }
  }

  details {
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none; /* Oculta la flecha en navegadores basados en WebKit */
  }
  
  summary {
    outline: none; /* Opcional: para quitar el borde de enfoque */
  }
  